@use "../custom" as *;

// Feature Type 1: Content on left, image on right
.featured--type-1 {
  background-color: #fbfafa;

  .row {
    flex-direction: row-reverse;
  }
}

// Feature Type 2: Content on right, image on left
.featured--type-2 {
  .row {
    flex-direction: row;
  }
}

.featured-title {
  @include media-breakpoint-up(lg) {
    margin-left: -30px;
  }
}

.featured-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3rem;

  &--type-1 {
    transform: rotate(-1deg);
  }

  &--type-2 {
    transform: rotate(1deg);
  }
}
