@use "../custom" as *;
@use "../base" as *;

.btn {
  font-weight: bold;
  font-family: "Futura Bold", "Lato", Arial, Helvetica, sans-serif;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}

.btn-secondary {
  color: $dark;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: $secondary;
  background-color: $dark;
  border-color: $dark;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: $secondary;
}
